# THE PANDAS LIBRARY
## Importation of Pandas

In [7]:
import pandas as pd

## Importation of data

In [8]:
pwd

'C:\\Users\\User\\Desktop\\Data Science\\Class Notes\\Code\\Code\\Pandas'

In [9]:
path = 'acs2015_census_tract_data.csv'

In [10]:
pd.read_csv(path)

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73996,72153750501,Puerto Rico,Yauco,6205,3291,2914,99.7,0.3,0.0,0.0,...,0.9,3.3,2.3,22.5,1659,64.7,31.3,3.9,0.0,21.3
73997,72153750502,Puerto Rico,Yauco,2122,921,1201,99.2,0.3,0.0,0.0,...,0.0,0.0,0.0,23.5,484,64.0,32.6,3.3,0.0,22.4
73998,72153750503,Puerto Rico,Yauco,2277,1097,1180,99.5,0.4,0.0,0.0,...,3.2,0.0,3.0,29.8,582,58.2,32.3,9.5,0.0,23.3
73999,72153750601,Puerto Rico,Yauco,5267,2663,2604,98.8,1.2,0.0,0.0,...,0.0,0.0,0.0,26.9,1369,67.5,31.2,1.3,0.0,26.7
74000,72153750602,Puerto Rico,Yauco,2741,1181,1560,99.3,0.7,0.0,0.0,...,0.0,0.0,14.9,26.8,496,72.8,19.6,7.7,0.0,20.1

In [11]:
pd.read_csv('acs2015_census_tract_data.csv')

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73996,72153750501,Puerto Rico,Yauco,6205,3291,2914,99.7,0.3,0.0,0.0,...,0.9,3.3,2.3,22.5,1659,64.7,31.3,3.9,0.0,21.3
73997,72153750502,Puerto Rico,Yauco,2122,921,1201,99.2,0.3,0.0,0.0,...,0.0,0.0,0.0,23.5,484,64.0,32.6,3.3,0.0,22.4
73998,72153750503,Puerto Rico,Yauco,2277,1097,1180,99.5,0.4,0.0,0.0,...,3.2,0.0,3.0,29.8,582,58.2,32.3,9.5,0.0,23.3
73999,72153750601,Puerto Rico,Yauco,5267,2663,2604,98.8,1.2,0.0,0.0,...,0.0,0.0,0.0,26.9,1369,67.5,31.2,1.3,0.0,26.7
74000,72153750602,Puerto Rico,Yauco,2741,1181,1560,99.3,0.7,0.0,0.0,...,0.0,0.0,14.9,26.8,496,72.8,19.6,7.7,0.0,20.1

In order to open data from another directory, you firmst need to be sure of your current directory, you need to know the directory where the running notebook is currently in:

In [15]:
ls

 Volume in drive C is Windows8_OS
 Volume Serial Number is 3E20-2FD1

 Directory of C:\Users\User\Desktop\Data Science\Class Notes\Code\Code\Pandas

09/23/2022  04:14 PM    <DIR>          .
09/23/2022  04:14 PM    <DIR>          ..
09/23/2022  04:14 PM    <DIR>          .ipynb_checkpoints
09/25/2019  09:36 AM        14,448,669 acs2015_census_tract_data.csv
09/17/2022  08:37 AM            17,853 crops and perennial suitability.xlsx
09/23/2022  03:43 PM           167,309 Exploratory Data Analysis.ipynb
09/23/2022  03:43 PM            89,708 Foundation of Pandas.ipynb
               4 File(s)     14,723,539 bytes
               3 Dir(s)  113,157,431,296 bytes free

The code below is used to open a file from another directory:

In [16]:
df = pd.read_csv('acs2015_census_tract_data.csv')

The code below is used to load data from an online repository:

In [17]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

In [22]:
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

When you do not need column names, the parameter `header = None` is used:

In [23]:
df = pd.read_csv('acs2015_census_tract_data.csv',\
                 header = None,\
                 low_memory=False)

The <b>head()</b> function is used to view the first five elements in a dataframe:

In [24]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
1,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
2,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
3,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
4,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8

The <b>tail()</b> function is used to view the last five elements in a dataframe:

In [25]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
73997,72153750501,Puerto Rico,Yauco,6205,3291,2914,99.7,0.3,0.0,0.0,...,0.9,3.3,2.3,22.5,1659,64.7,31.3,3.9,0.0,21.3
73998,72153750502,Puerto Rico,Yauco,2122,921,1201,99.2,0.3,0.0,0.0,...,0.0,0.0,0.0,23.5,484,64.0,32.6,3.3,0.0,22.4
73999,72153750503,Puerto Rico,Yauco,2277,1097,1180,99.5,0.4,0.0,0.0,...,3.2,0.0,3.0,29.8,582,58.2,32.3,9.5,0.0,23.3
74000,72153750601,Puerto Rico,Yauco,5267,2663,2604,98.8,1.2,0.0,0.0,...,0.0,0.0,0.0,26.9,1369,67.5,31.2,1.3,0.0,26.7
74001,72153750602,Puerto Rico,Yauco,2741,1181,1560,99.3,0.7,0.0,0.0,...,0.0,0.0,14.9,26.8,496,72.8,19.6,7.7,0.0,20.1

The `header` method is used to specify the row in which index can be considered to be header:

In [26]:
df = pd.read_csv('acs2015_census_tract_data.csv',\
                 header = 3,\
                 low_memory=False)

In [27]:
df.head()

,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0.2,0.0.3,2.5,19.6,1373,64.1,23.6,12.3,0.0.4,6.2
0,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
1,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2
2,1001020600,Alabama,Autauga,3851,1787,2064,13.1,72.9,11.9,0.0,...,0.0,6.0,4.5,19.8,1560,79.4,14.7,5.8,0.0,10.9
3,1001020700,Alabama,Autauga,2761,1210,1551,3.8,74.5,19.7,0.0,...,0.0,0.0,0.0,20.0,1166,82.0,14.6,3.4,0.0,11.4
4,1001020801,Alabama,Autauga,3187,1502,1685,1.3,84.0,10.7,3.1,...,0.0,1.7,5.9,24.3,1502,78.1,14.8,7.1,0.0,8.2

In [29]:
df = pd.read_csv('acs2015_census_tract_data.csv',\
                 low_memory=False)

In [30]:
df.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

`index_col` is used to select which of the columns/featues can be used as an index in the data:

In [33]:
df = pd.read_csv('acs2015_census_tract_data.csv',\
                 low_memory=False, 
                 index_col = 'CensusTract')

In [34]:
df.head()

,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
CensusTract,,,,,,,,,,,,,,,,,,,,,
1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,0.6,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,2.3,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,1.4,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,0.0,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,3.8,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

`index_col` can also receive several indices of columns in a list:

In [36]:
df = pd.read_csv('acs2015_census_tract_data.csv',\
                 low_memory=False, 
                 index_col = ['CensusTract', 'State', 'Men', 'Women'])

In [37]:
df.head()

,,,,County,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Citizen,Income,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
CensusTract,State,Men,Women,,,,,,,,,,,,,,,,,,,,,
1001020100,Alabama,940,1008,Autauga,1948,0.9,87.4,7.7,0.3,0.6,0.0,1503,61838.0,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1001020200,Alabama,1059,1097,Autauga,2156,0.8,40.4,53.3,0.0,2.3,0.0,1662,32303.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
1001020300,Alabama,1364,1604,Autauga,2968,0.0,74.5,18.6,0.5,1.4,0.3,2335,44922.0,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
1001020400,Alabama,2172,2251,Autauga,4423,10.5,82.8,3.7,1.6,0.0,0.0,3306,54329.0,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
1001020500,Alabama,4922,5841,Autauga,10763,0.7,68.5,24.8,0.0,3.8,0.0,7666,51965.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

In [38]:
df = pd.read_csv('../../Data/crop_properties.txt',
                 header = 0,
                 sep = '\t')

In [39]:
df.head()

,Crop,Variety,texture1,texture2,texture3,minpH,maxpH,minTemp,maxTemp,minPrep,maxPrep,minAlti,maxAlti
0,Banana,Uganda Green (Cooking types),LOAM,SANDY LOAM,Clay,5.5,6.5,20,31,1000,2500,0,2100
1,Banana,Ngombe (Cooking types),LOAM,SANDY LOAM,Clay,5.5,7.5,20,31,1000,2500,0,2100
2,Mango,Apple,Loamy,Sandy loam,sandy,5.0,7.5,15,30,500,2000,0,2300
3,Mango,Van Dyke,Loamy,Sandy loam,sandy,5.0,7.5,15,30,500,2000,0,2300
4,Avocado,Hass,Loamy,Clay loam,Sandy,5.0,7.0,20,30,1000,1800,1200,2200